* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #eeeeee;
}

.networtType {
    font-size: 14px;
}

.cacheType {
    font-size: 14px;
}

.title {
    font-weight: 500;
    font-size: 20px;
}

.subhead {
    font-weight: normal;
    font-size: 16px;
}

.body1 {
    font-size: 14px;
    font-weight: normal;
}

.body2 {
    font-size: 14px;
    font-weight: bold;
}

#appBox {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 32px;
}

#appBox div {
    margin-bottom: 8px;
}

#appHeader {
    width: 100%;
    min-height: 64px;
    background-color: gold;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=number] {
    border-radius: 2px;
    width: 100%;
    padding: 8px;
    height: 48px;
}

select {
    display: block;
    height: 48px;
    width: 100%;
}

.notAvailable {
    color: #212121;
    opacity: 0.3;
}

#desc {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    height: 56px;
    color: green;
    margin-bottom: 32px;
}

#result {
    color: green;
}

/******************** css for medium screens e.g tablets *****************/

@media(min-width: 768px) {
    .card {
        margin-top: 32px;
    }
    /* .card p {
        font-size: 16px;
    } */
    #appBox {
        width: 80%;
        margin-top: 64px;
    }
    #appBox div {
        margin-bottom: 16px;
    }
}

/******************** css for large screens e.g laptops *****************/

@media(min-width: 1024px) {
    #appHeader {
        min-height: 72px;
    }
    #appBox {
        flex-direction: row;
        width: 95%;
        justify-content: space-evenly;
        margin-top: 72px 0 56px 0;
    }
}